.modal-title {
    margin: 0;
    line-height: 1.42857143;
  font-family: SofiaProRegular,sans-serif;
  font-weight: 600!important;
    font-size: 20px;
    color: #232368;
    margin-top: -5px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.form {
  margin:10px
}
