



/* .container {
  
  color:#060606;
} */

body.dark {

background: #37404a;
color : #aab8c5;
--h2-color : #f4f4f4;
--btn-color : #f4f4f4;



}

body {
  --h2-color : color:#004ba7;
  --btn-color :hsl(196deg 61% 43%)
  
}

.dialog {
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  background : hsl(255deg 60% 90%);
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
  font-family: SofiaProRegular,sans-serif;
  font-weight: 600!important;
    font-size: 20px;
    color : var(--h2-color);
    margin-top: -5px;
}

h2 {
    color : var(--h2-color)!important;
    display: block;
    margin-block-start: 1.33em;
/*     margin-block-end: 1.33em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.form {
  margin:10px
}
h4 {
  color :var(--btn-color);
}

.btn-link {
  color : var(--btn-color)!important;
  position: revert;
  right: 5px;
  top: 120px;
}

