

body{
--title-color : #232368;

}


body.dark {

background: #37404a;
color : #aab8c5;
--title-color : #f6f6f6;


}



/* .container {
  
  color:#060606;
} */

.dialog {
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  background : hsl(255deg 60% 90%);
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
  font-family: SofiaProRegular,sans-serif;
  font-weight: 600!important;
    font-size: 20px;
    color: var(--title-color)
    margin-top: -5px;
}

h2 {
    display: block;
    color: var(--title-color);
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



.form {
  margin:10px
}
h4 {
  color :#c9c9c9;
}
